<div class="panel panel-default top-bar">
    <div class="panel-heading">
        <top-panel breadcrumbs="breadcrumbs">
            <div class="col-md-9">
            </div>
        </top-panel>
    </div>
</div>

<div ng-show="model.is_success" class="alert alert-success" role="alert">
    <strong>Замечательно!</strong> Цены сохранены. Можно переходить к следующему пункту.
</div>

<div ng-show="is_error" class="alert alert-danger" role="alert">
    <strong>Ошибка!</strong> {{ error_message }}
</div>

<div ng-show="model.is_change" class="alert alert-warning" role="alert">
    <h4>Внимание!</h4>
    В этой накладной были изменены цена на некоторые товары. Обратите внимание на позиции обозначенные желтым цветом.
</div>

<div class="form-bg">
    <div class="form-sheet row">
        <div class="col-md-12" style="padding: 0px 0px">
            <span ng-hide="loadingFinish" style="height: 100%; width: 100%; position: absolute; z-index: 15000; background-color: #ffffff; ">
                <span us-spinner="{lines: 13, length: 5, width: 2, radius: 5}"></span>
            </span>
            <div>
                <span>Текст письма:</span>
                <div>
                    <pre>{{ model.text }}</pre>
                </div>

                <div>
                    <div>
                        <span>
                        <span>{{ model.files_.length }}</span>&nbsp;прикрепленных файла</span>
                        <div>
                            <div ng-repeat="item in model.files_">
                                <a target="_blank" href="{{ item.link }}">{{ item.name }}</a><button ng-click="rashod($event, $index)">Расходная накладная</button><button ng-click="vosvrat($event, $index)">Возврат</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>