*.pyc
/buy_api_env
config_local.py
/.idea
attachments
/static/.webassets-cache
/tests/app.db
/tests/app.db-journal
*.log
celerybeat-schedule
celerybeat.pid
.vagrant
.cache
.coverage
venv

.DS_Store

# ignore home.html and index.html. we publish them from local machine
/static/home.html
/static/index.html
/home.html
/index.html