*.pyc
/buy_api_env
config_local.py
/.idea
attachments
/static/gen
/static/.webassets-cache
/adminbuy/tests/app.db
/adminbuy/tests/app.db-journal
*.log
celerybeat-schedule
celerybeat.pid
.vagrant
.cache
.coverage
