<form name="myForm.item">
    <div class="box-body">

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.fname.$error.required}">
            <label>Фамилия</label>
            <input type="text" ng-model="model.fname" required name="fname" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите фамилию">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.lname.$error.required}">
            <label>Имя</label>
            <input type="text" ng-model="model.lname" required name="lname" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите имя">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.pname.$error.required}">
            <label>Отчество</label>
            <input type="text" ng-model="model.pname" required name="pname" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите отчество">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.address.$error.required}">
            <label for="exampleInputPassword1">Адрес</label>
            <textarea name="address" class="form-control" ng-model="model.address" rows="3" placeholder="Введите адрес ..."></textarea>
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.passport.$invalid}">
            <label for="exampleInputPassword1">Паспортные данные</label>
            <input type="number" ng-model="model.passport" passport class="form-control"
                   pattern="^\d{0}$|^\d{10}$"
                   name="passport"
                   id="exampleInputPassword1"
                   placeholder="Введите паспортные данные">
        </div>
    </div>
    <!--<button ng-click="cancel()"></button>-->
    <!-- /.box-body -->

    <!--<div class="box-footer">
        <button type="submit" class="btn btn-primary">Сохранить</button>
    </div> -->
</form>
