<div class="register-page">
    <div class="register-box">
      <div class="register-logo">
        <a ui-sref="index.dash"><b>Газеты </b>ЖУРНАЛЫ</a>
      </div>

      <div class="register-box-body">
        <p class="login-box-msg">Регистрация нового пользователя</p>
        <form ng-submit="register()">
          <div class="form-group has-feedback">
            <input name="login" ng-model="login" type="text" class="form-control" placeholder="Логин"/>
            <span class="glyphicon glyphicon-user form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="email" ng-model="email" type="email" class="form-control" placeholder="Email"/>
            <span class="glyphicon glyphicon-envelope form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="password" ng-model="password" type="password" class="form-control" placeholder="Пароль"/>
            <span class="glyphicon glyphicon-lock form-control-feedback"></span>
          </div>
          <div class="form-group has-feedback">
            <input name="retypepassword" ng-model="retypepassword" type="password" class="form-control" placeholder="Повторите пароль"/>
            <span class="glyphicon glyphicon-log-in form-control-feedback"></span>
          </div>
          <div class="row">
            <div class="col-xs-6"></div>
            <div class="col-xs-6">
              <button type="submit" class="btn btn-primary btn-block btn-flat">Зарегистрировать</button>
            </div><!-- /.col -->
          </div>
        </form>

        <a ui-sref="signin" class="text-center">Я уже имею регистрацию</a>
      </div><!-- /.form-box -->
    </div><!-- /.register-box -->

    <script>
      $(function () {
        $('input').iCheck({
          checkboxClass: 'icheckbox_square-blue',
          radioClass: 'iradio_square-blue',
          increaseArea: '20%' // optional
        });
      });
    </script>
  </div>
