<div class="top-bar">

    <div class="content-header">

        <h1>
            Торговые точки
            <small>SMALL</small>
        </h1>

        <ol class="breadcrumb">
            <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
            <li><a ui-sref="index.pointsale.list">Торговые точки</a></li>
            <li class="active">[[ model.name ]]</li>
        </ol>

        <div class="btn-custom-group">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6">
                    <span>
                        <button class="btn-edt btn-flat btn btn-default btn-sm" ng-click="edit()">Редактировать</button>
                    </span>
                </div>

                <div class="col-md-6 col-sm-6 col-xs-6">
                    <div class="btn-group" dropdown>
                        <button type="button" class="btn btn-flat btn-default btn-sm" dropdown-toggle>
                          Больше <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li role="menuitem"><a class="btn-del" ng-click="delete_()">Удалить</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Main content -->
<div class="main-content" my-auto-padding>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-3">
                <!-- general form elements -->
                <div class="box box-danger">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="myForm.item">
                        <div class="box-body">

                            <h3 class="text-center">
                                <div>[[model.name]]</div>
                            </h3>

                            <div class="form-group">
                                <strong>Адрес</strong>
                                <p class="text-muted">[[model.address]]</p>
                            </div>

                            <div class="form-group">
                                <strong>Центральная</strong>
                                <p class="text-muted">[[model.is_central | yesNo]]</p>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>

            <div class="col-md-9">
                <tabset class="nav-tabs-custom">
                    <tab heading="Товар">
                        <!--Таблица с товаром-->
                        <div id="example1_wrapper" class="dataTables_wrapper form-inline dt-bootstrap">
                            <div class="row">
                                <div class="col-sm-6">

                                </div>
                                <div class="col-sm-6">
                                    <div id="example1_filter" class="dataTables_filter">
                                        <form ng-submit="filter(searchText)"><label>Поиск:<input type="search"
                                                                                                 ng-model="searchText"
                                                                                                            class="form-control input-sm"
                                                                                                            placeholder=""
                                                                                                            aria-controls="example1"></label></form>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <table ng-table="$scopeGood.tableParams" class="table table-hover table-bordered table-striped dataTable"
                                           role="grid"
                                           aria-describedby="example1_info" template-pagination="custom/pager">
                                        <!-- TODO!!! style into css -->
                                        <tr style="cursor:pointer;" ng-click="detail(item.id)" ng-repeat="item in $data">
                                            <td data-title="'Наименование'" sortable="'full_name'">
                                                [[ item.full_name ]]
                                            </td>
                                            <td data-title="'Номер годовой'" sortable="'number_local'">
                                                [[ item.number_local ]]
                                            </td>

                                            <td data-title="'Номер общий'" sortable="'number_global'">
                                                [[ item.number_global ]]
                                            </td>
                                            <td data-title="'Штрих код'" sortable="'barcode'">
                                                [[ item.barcode ]]
                                            </td>
                                        </tr>
                                    </table>
                                </div>
                            </div>

                        </div>
                    </tab>
                </tabset>
            </div>
        </div>
    </section>
</div>

