<div class="top-bar">

    <div class="content-header">

        <h1>
            Торговые точки
            <small>SMALL</small>
        </h1>

        <ol class="breadcrumb">
            <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
            <li><a ui-sref="index.pointsale.list">Торговые точки</a></li>
            <li class="active">[[ model.name ]]</li>
        </ol>

        <div class="row" style="margin: 10px 0 10px 0">
            <div class="col-md-6 col-sm-6 col-xs-6 ng-scope">
                <span ng-hide="editMode" class="">
                    <button class="btn-edt btn-flat btn btn-default btn-sm" ng-click="edit()">Редактировать</button>
                </span>
            </div>

            <div class="btn-group" dropdown>
                <button type="button" class="btn btn-flat btn-default btn-sm" dropdown-toggle>
                  Больше <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">
                    <li role="menuitem"><a class="btn-del" ng-click="delete_()">Удалить</a></li>
                </ul>
            </div>
        </div>
    </div>

</div>


<!-- Main content -->
<div class="main-content" my-auto-padding>
    <section class="content">
        <div class="row">
            <!-- left column -->
            <div class="col-md-6">
                <!-- general form elements -->
                <div class="box box-danger">
                    <div class="box-header">
                    </div>
                    <!-- /.box-header -->
                    <!-- form start -->
                    <form name="myForm.item">
                        <div class="box-body">

                            <div class="form-group">
                                <label>Наименование</label>
                                <div>[[model.name]]</div>
                            </div>

                            <div class="form-group">
                                <label>Адрес</label>
                                <div>[[model.address]]</div>
                            </div>

                            <div class="form-group">
                                <label>Центральная</label>
                                <div>[[model.is_central | yesNo]]</div>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- /.box -->
            </div>
        </div>
    </section>
</div>

