<div class="top-bar">

    <div class="content-header">

        <h1>
            [[name_head]]
            <small>SMALL</small>
        </h1>

        <ol class="breadcrumb">
            <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
            <li><a ui-sref="index.acceptance.list">[[name_head]]</a></li>
            <li class="active">Создание</li>
        </ol>

        <div class="btn-custom-group">
            <div class="row">
                <div class="col-md-6 col-sm-6 col-xs-6 ng-scope">
                    <span>
                        <button class="btn btn-flat btn-danger btn-sm btn-sv" ng-click="save()">Сохранить</button>
                        <button class="btn btn-flat btn-edt btn-warning btn-sm" ng-click="cancel()">Отмена</button>
                    </span>

                </div>
            </div>
        </div>
    </div>

</div>


<!-- Main content -->
<div class="main-content" my-auto-padding>

    <div ng-include="formname"></div>

</div>

