<div>
    <div>
        <button ng-disabled="!(model.good && model.price_with_NDS)"
                ng-click="getPrice($event)" type="submit" class="btn btn-primary" data-loading-text="Идет подгрузка...">
            Подгрузить рекомендации
        </button>
    </div>
    <div collapse="isCollapsed" style="margin-top: 10px">
        <div class="panel panel-primary">

            <div class="panel-heading" popover="Выберите уже готовую стоимость!"
                                       popover-trigger="mouseenter">
                <h3 class="panel-title">Варианты цен</h3>
            </div>
            <div class="panel-body" style="padding: 0 0 0 0">
                <div class="list-group" style="margin-bottom: 0">
                    <div class="animate" ng-repeat="price in model.price_recommendation">
                        <a ng-click="setRec(price.price_retail, price.price_gross)"
                           class="list-group-item"
                                ng-class="{'list-group-item-info': compare_info(price.price_post, model.price_post),
                                           'list-group-item-warning': compare_warning(price.price_post, model.price_post),
                                           'list-group-item-success': compare_success(price.price_post, model.price_post)}">
                           <strong>[[ price.provider_str ]].</strong>
                           <span ng-if="price.number_local_from"> С номера №[[ price.number_local_from ]]([[ price.number_global_from ]])</span>
                           <span ng-if="!price.number_local_from"> С даты [[ price.date_from | date:'MMM d, y' ]]</span>
                             стоимость с НДС - <strong>[[ price.price_post | rub ]]</strong>.
                           Цена розницы - <strong>[[ price.price_retail | rub ]]</strong>.
                           Цена опта - <strong>[[ price.price_gross | rub ]]</strong>.</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>