{% if is_main %}
    <div class="">
        <div class="span-view" ng-show="disabled">
            {% if main %}
                <h3 id="{{ id_form }}">[[ {{ prefix + id_s|safe }} ]]</h3>
            {% else %}
                <h4 id="{{ id_form }}">[[ {{ prefix + id_s }}|safe ]]</h4>
            {% endif %}
        </div>
        <div ng-hide="disabled">
            <label for="{{ id_form }}" class="control-label">{{ label }}</label>
            <input type="text" nks-only-number class="form-control " style="font-size: 20px" id="{{ id_form }}" ng-model="{{ prefix + id_s|safe }}" placeholder="{{ placeholder }}">
        </div>
    </div>

{% else %}
    <div class="form-group form-group-my" ng-class="{'has-error': errors.{{ id_form }}}">
        <label for="{{ id_form }}" class="control-label col-md-5">{{ label }}</label>
        <div class="col-md-7">
            <div class="span-view" ng-show="disabled">
                <span id="{{ id_form }}">[[ {{ prefix + id_s|safe }} ]]</span>&nbsp;
            </div>
            <div ng-hide="disabled">
                {% if input_group %}
                <div class="input-group">
                    <div class="input-group-addon ng-scope ng-binding" popover="{{ input_group_popup }}" popover-trigger="mouseenter">[[{{ input_group_exp }}]]</div>
                {% endif %}

                    <input type="text" nks-only-number class="form-control input-sm" id="{{ id_form }}" ng-model="{{ prefix + id_s|safe }}" placeholder="{{ placeholder }}">
                {% if input_group %}
                </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endif %}