<form role="form" class="form-horizontal">
    {% if mains %}
        <div class="mains-fld">
            {% for field in mains %}
                <div class="row">
                    <div class="col-md-12">
                        {{ field.render()|safe }}
                    </div>
                </div>
            {% endfor %}
        </div>
    {% endif %}

    {% if grouping %}
        <div class="slaves-fld">
            {% for row in grouping %}
                <div class="row grouping-slaves">
                {% for col in row %}
                    <div class="col-md-{{ (12 / row|length)|int }}">
                        <span style="font-weight: bold; font-size: 20px;">{{ col[0] }}</span>
                        {% for field in col[1] %}
                        {{ field.render()|safe }}
                        {% endfor %}
                    </div>
                {% endfor %}
                </div>
            {% endfor %}
        </div>
    {% endif %}

</form>