<div class="form-group-my form-group" ng-class="{'has-error': errors.{{ id }}}">
    <div class="col-xs-5">
        <label class="control-label" for="bla">{{ label }}</label>
    </div>
    <div class="col-xs-7">
        <div ng-show="disabled">
            <div class="span-view">[[ { {% for item in items %} '{{ item[0] }}': '{{ item[1] }}', {% endfor %} }[{{ prefix + id_s }}] ]]</div>
        </div>
        <div ng-hide="disabled">
            <div class="btn-group" style="margin-left: 20px;">
            {% for item in items %}

                <label class="radio">
                    <input type="radio" ng-model="{{ prefix + id_s }}" value="{{ item[0] }}"> {{ item[1] }}
                </label>

{#                <label class="btn btn-default btn-sm" ng-model="{{ id }}" btn-radio="{{ item[0] }}">{{ item[1] }}</label>#}
            {% endfor %}
        </div>
        </div>
    </div>
</div>