<form name="myForm.item">
    <div class="box-body">

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.name.$error.required}">

            <div class="form-group">
                <label for="exampleInputPassword1">Номенклатура</label>

                <dict-select-field
                        ng-model="model.commodity"
                        service="CommodityService"
                        lazy="true"
                        select="model.commodity_id"

                        style="width: 100%">
                    <dict-select-field-match placeholder="Введите номенклатуру...">[[$select.selected.name]]</dict-select-field-match>
                    <dict-select-field-choices repeat="item in $items | propsFilter: {name: $select.search}">
                        <div ng-bind-html="item.name | highlight: $select.search"></div>
                    </dict-select-field-choices>
                </dict-select-field>
            </div>
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.number_local.$error.required}">
            <label>Номер годовой</label>
            <input type="text" ng-model="model.number_local" required name="number_local" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите номер">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item.number_global.$error.required}">
            <label>Номер общий</label>
            <input type="text" ng-model="model.number_global" required name="number_global" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите номер">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item['price.price_retail'].$error.required}">
            <label>Цена розницы</label>
            <input type="text" ng-model="model['price.price_retail']" required name="price.price_retail" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите номер">
        </div>

        <div class="form-group" ng-class="{'has-error': Form.isSubmitted() && myForm.item['price.price_gross'].$error.required}">
            <label>Цена опта</label>
            <input type="text" ng-model="model['price.price_gross']" required name="price.price_gross" class="form-control" id="exampleInputPassword1"
                   placeholder="Введите номер">
        </div>

    </div>
</form>