<div class="top-bar">

    <div class="content-header">

        <h1>
            Накладные прихода
            <small>SMALL</small>
        </h1>

        <ol class="breadcrumb" ui-view>
            <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
            <li><a ui-sref="index.invoice_in.list">Накладные</a></li>
            <li class="active">Создание</li>
        </ol>

        <div class="btn-custom-group">
            <div class="row">
                <div class="col-md-12 col-xs-12">
                    <span>
                        <button class="btn-edt btn-flat btn btn-primary btn-sm" ng-click="save()">Сохранить</button>
                        <button class="btn-edt btn-flat btn btn-warning btn-sm" ng-click="cancel()">Отмена</button>
                    </span>
                </div>
            </div>
        </div>
    </div>

</div>


<!-- Main content -->
<div class="main-content" my-auto-padding>
    <div ng-include src="'InvoiceInForm'"></div>
</div>

