<div class="top-bar">

    <div class="content-header">

        <h1>
            Накладные прихода
            <small>SMALL</small>
        </h1>

        <ol class="breadcrumb" ui-view>
            <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
            <li><a ui-sref="index.invoice_in.list">Накладные</a></li>
            <li><a ui-sref="index.invoice_in.view({id:item.id})">[[ item.number ]]</a> </li>
            <li class="active">Редактирование</li>
        </ol>

        <div class="row" style="margin: 10px 0 10px 0">
            <div class="col-md-6 col-sm-6 col-xs-6 ng-scope">
                <span>
                    <button class="btn-sv btn-flat btn btn-primary btn-sm" ng-click="save()">Сохранить</button>
                </span>
                <span>
                    <button class="btn-cn btn-flat btn btn-warning btn-sm" ng-click="cancel()">Отмена</button>
                </span>
            </div>
        </div>
    </div>

    <header style="background-color: bisque; min-height: 40px; padding: 5px 5px 5px 0px;">
        <div>
            <ul class="pull-right status-bar" style="float:right;">
                <li class="status-item" ng-class="{'active': model.status == 1 || model.status == undefined}">
                    <span>Черновик</span>
                </li>
                <li class="status-item" ng-class="{'active': model.status == 2}"
                    >
                    <span>Оформление</span>
                </li>
                <li class="status-item" ng-class="{'active': model.status == 3}"
                    >
                    <span>Доставка</span>
                </li>
                <li class="status-item" ng-class="{'active': model.status == 4}"
                    >
                    <span>Товар на точке</span>
                </li>
            </ul>
        </div>
    </header>

</div>


<!-- Main content -->
<div class="main-content" my-auto-padding>
    <div ng-include src="'InvoiceInForm'"></div>
</div>

