{% extends 'projectadmin/base_template_cache.html' %}

{% block body %}

<!-- Глобальные переменные -->
{#<script type="text/javascript">#}
{#    #}
{#</script>#}


<div ng-app="myApp" ng-controller="MainCtrl" ng-cloak>

    <div ng-view>

    </div>
    {# Шаблон для отображения создания/редактирования записи #}
    <script type="text/ng-template" id="createModels">

        <div class="panel panel-default top-bar">
            <div class="panel-heading">
                <top-panel breadcrumbs="breadcrumbs">
                    <div class="col-md-6">
                        <span ng-hide="editMode">
                            <button class="btn-edt btn btn-default btn-sm" ng-click="edit()">Редактировать</button>{% if can_create %}
                            <button class="btn-crt btn btn-default btn-sm" style="margin-left: 5px" ng-click="create()">Создать</button>
                            {% endif %}
                        </span>
                        <span ng-hide="!editMode">
                            <a class="btn btn-danger btn-sm btn-sv" ng-click="save()">Сохранить</a> или <a class="btn-cl" ng-click="discard()" style="cursor:pointer;">Отменить</a>
                        </span>
                    </div>
                    <div class="btn-group" ng-hide="editMode">
                        <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false">
                          Больше <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            {% if url_to_print %}
                            <li><a class="btn-print" href="#" ng-click="print()">Печать</a></li>
                            {% endif %}
                            <li><a class="btn-del" href="#" ng-click="delete()">Удалить</a></li>
                        </ul>
                    </div>
                </top-panel>
            </div>
        </div>
        {% block panel_header %}

        {% endblock %}
            <div class="form-bg container">
                <div class="form-sheet row" style="">
                    {# Форма #}
                    <div class="col-md-12" style="padding: 0px 0px">
                        <span ng-hide="loadingFinish" style="height: 100%; width: 100%; position: absolute; z-index: 15000; background-color: #ffffff; ">
                            <span us-spinner="{lines: 13, length: 5, width: 2, radius: 5}"></span>
                        </span>
                        <div>
                            {{ form.render()|safe }}
                        </div>
                        <div>
                            {{ form.form_tables_render()|safe }}
                        </div>
                        <div>
                            {# Табы, для отображения связанных моделей. #}
                            {% if tabs %}
                                {% block visible_begin %}
                                <div>
                                {% endblock %}
                                    <tabset ng-show="model.id">
                                    {% for tab in tabs %}
                                        <tab ng-if="!({{ tab.cond_hide()|safe }})" heading="{{ tab.title }}">
                                                {{ tab.render_table()|safe }}
                                        </tab>
                                    {% endfor %}
                                    </tabset>
                                {% block visible_end %}
                                </div>
                                {% endblock %}
                            {% endif %}
                        </div>
                    </div>



                </div>

            </div>
{#        </div>#}

    </script>
    {# Шаблон для отображения таблицы записей этой модели.   #}
    <script type="text/ng-template" id="listModels">
        <div class="panel panel-default top-bar">
            <div class="panel-heading">
                <top-panel breadcrumbs="breadcrumbs">
                    <div class="col-md-9">
                        <div class="btn-group">
                            {% if can_create %}
                            <button type="button" class="btn-crt btn btn-danger btn-sm" ng-click="create()">
                                Создать
                            </button>
                            {% endif %}
                        </div>
                    </div>
                    {% if can_search %}
                        <div class="col-md-3">
                            <search-field
                                    placeholder="Поиск..."
                                    clbkclick="reload"></search-field>
                        </div>
                    {% endif %}
                </top-panel>
            </div>
        </div>
        {{ table.render()|safe }}
    </script>

    {# Все дополнительные модальные окна #}
    {% for modal in modals_window %}
        {{ modal.render()|safe }}
    {% endfor %}

    <script type="text/ng-template" id="ng-table/headers/checkbox.html">
        <input type="checkbox" ng-model="checkboxes.checked" id="select_all" name="filter-checkbox" value="" />
    </script>

</div>

{% endblock %}

{% block tail %}

    {{ super() }}

    {% assets "ng-table-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "ng-table-js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        var app = angular.module('myApp', ['ngRoute', 'ng-breadcrumbs', 'ngTable', 'ngResource', 'angularSpinner', 'AuthModule',
            'ui.bootstrap', 'ui.select', 'ElemsModule', 'FilterApp', 'ModalApp', 'ngSanitize', 'NumberApp']);

        app.constant("rootUrl", '{{ url_view }}');

        app.config(function($interpolateProvider){
            $interpolateProvider.startSymbol('[[').endSymbol(']]');
        });

        app.controller("MainCtrl", function($scope, $rootScope, $route, $location, $routeParams) {
            $scope.$route = $route;
            $scope.$location = $location;
            $scope.$routeParams = $routeParams;
            GLOBALS123
        });
        {# Контроллер для создания записи #}
        app.controller("ControllerCreate", function($scope, $rootScope, breadcrumbs, $location, $modal, rootUrl, {% if url_to_print %}RES_PRINT,{% endif %}RES_CREATE
                {% for modal in modals %}
                ,{{ modal.depend_js_getall()|safe }}
                {% endfor %}
                {% for tab in tabs %}
                    ,{{ tab.depend()|safe }}
                {% endfor %}
                {% block dependency_create %}
                {% endblock %}
        ) {
            var setError = function(attr, message) {
                if (message) {
                    $scope.errors[attr] = true;
                    $scope.validate[attr] = message;
                } else {
                    $scope.errors[attr] = false;
                    $scope.validate[attr] = message;
                }
            };

            $location.replace().search({});

            $scope.model = {};
            $scope.errors = {};
            $scope.validate = {};
            $scope.breadcrumbs = breadcrumbs;
            $scope.items = {};

            {% for field in form.fields %}
                {{ field.initialize_controller()|safe }}
            {% endfor %}

            {% for modal in modals %}
                {{ modal.add_to_js()|safe }}
            {% endfor %}

            {% for tab in tabs %}
                {{ tab.create_js()|safe }}
            {% endfor %}

            {% block controller_create %}

            {% endblock %}

            {% if url_to_print %}
                $scope.print = function() {
                    console.log("PRINT");
                };
            {% endif %}

            toEditMode(true);
            $scope.loadingFinish = true;

            $scope.discard = function() {
                $location.path(rootUrl);
            };

            function _save(afterclbk) {
                /*
                * :args afterclbk: колбэк срабатывающий после успешного сохранения
                * */
                 {% for fld in form.fields %}
                    {% for val in fld.validators %}
                        {{val.validate_js()|safe}}
                    {% endfor %}
                {% endfor %}

                if (_.indexOf(_.values($scope.errors), true) != -1) {
                    toastr.error(_.filter(_.values($scope.validate), function(item) { if (item == undefined) {return false;} return true;}).join("<br/>"), 'Ошибка валидации!');
                    return;
                }

                RES_CREATE.meth({
                        data: {
                            {% for fld in form.fields %}
                                '{{ fld.get_form_id()|safe }}': {{ fld.get_form_attr()|safe }},
                            {% endfor %}
                        }
                    }, function(data) {
                        if (afterclbk){
                            afterclbk(data);
                        } else {
                            $location.path(rootUrl + "/" + data.id + "/edit");
                        }
                    }, function (data) {
                        toastr.error(data.data.message, 'Ошибка сохранения!');
                });
            }

            $scope.save = function() {
                _save();
            };

            function toEditMode(edit) {
                $scope.disabled = !edit;
                $scope.editMode = edit;
            }
        });
        {# Контроллер для редактирования записи #}
        app.controller("ControllerEdit", function($scope, $rootScope, breadcrumbs, $routeParams, $location, $modal, rootUrl, $route,
                                                  RES_UPDATE, RES_GET, {% if url_to_print %}RES_PRINT,{% endif %}RES_DELETE{% for modal in modals %}
                ,{{ modal.depend_js_getall()|safe }}
                ,{{ modal.depend_js_get()|safe }}

        {% endfor %}
                {% for tab in tabs %}
                    ,{{ tab.depend()|safe }}
                {% endfor %}
                {% block dependency_edit %}
                {% endblock %}) {

            var setError = function(attr, message) {
                if (message) {
                    $scope.errors[attr] = true;
                    $scope.validate[attr] = message;
                } else {
                    $scope.errors[attr] = false;
                    $scope.validate[attr] = message;
                }
            };

            $location.replace().search({});

            $scope.model = {};
            $scope.errors = {};
            $scope.validate = {};
            $scope.items = {};

            {% for field in form.fields %}
                {{ field.initialize_controller()|safe }}
            {% endfor %}

            {% for modal in modals %}
                {{ modal.add_to_js()|safe }}
            {% endfor %}

            {% for tab in tabs %}
                {{ tab.edit_js()|safe }}
            {% endfor %}

            {% block controller_edit %}

            {% endblock %}

            {% if url_to_print %}
                $scope.print = function() {
                    RES_PRINT.meth({id: $routeParams.id}, function(data) {
                        var url = data['link'];
{#                        window.open(data);#}
{#                        window.open(data, '_self');#}
{#                        location.href = data['link'];#}
                        window.open(url, "_target");
                    });
                };
            {% endif %}

            var last, last_items;

            RES_GET.meth({id: $routeParams.id}, function(data) {
                $scope.model = data;

                {% for modal in modals %}
                    {{ modal.set_value()|safe }}
                {% endfor %}

                {% for tab in tabs %}
                    {{ tab.set_value()|safe }}
                {% endfor %}

                {% block controller_edit_instance %}

                {% endblock %}

                $scope.loadingFinish = true;

                {% if main_attr %}
                    breadcrumbs.options = {'Редактирование': data.{{ main_attr }}};
                {% endif %}
            });

            $scope.breadcrumbs = breadcrumbs;

            var dt = $location.search();

{#        BUG!!!!! Позволяет редактировать поля даже в статусных моделях. #}
{#            if(_.has(dt, "edit")) {#}
{#                toEditMode(JSON.parse(dt['edit']));#}
{#            } else {#}
{#                toEditMode(false);#}
{#            }#}
            toEditMode(false);

            $scope.edit = function() {
                {% block edit %}
                toEditMode(true);
                {% endblock %}
                last_items = angular.copy($scope.items);
                last = angular.copy($scope.model);
            };

            $scope.discard = function() {
                toEditMode(false);
                $scope.model = last;
                $scope.items = last_items;
            };

            $scope.create = function() {
                $location.path(rootUrl + "/create");
            };

            $scope.delete = function() {
                bootbox.confirm("Вы уверены, что хотите удалить запись?", function(result) {
                    if (result) {
                        RES_DELETE.meth({'id': $routeParams.id},
                        function(data) {
                              $location.path(rootUrl);
                        },
                        function(data) {
                            toastr.error(data.data.message, 'Ошибка удаления!');
{#                            bootbox.alert("Произошла ошибка!" + data.message);#}
                        });
                    }
                });
            };

            function _save(afterclbk) {

                {% for fld in form.fields %}
                    {% for val in fld.validators %}
                        {{val.validate_js()|safe}}
                    {% endfor %}
                {% endfor %}

                if (_.indexOf(_.values($scope.errors), true) != -1) {
                    toastr.error(_.filter(_.values($scope.validate), function(item) { if (item == undefined) {return false;} return true;}).join("<br/>"), 'Ошибка валидации!');
                    return;
                }
                RES_UPDATE.meth({'id': $routeParams.id}, {
                        data: {
                            {% for fld in form.fields %}
                                '{{ fld.get_form_id()|safe }}': {{ fld.get_form_attr()|safe }},
                            {% endfor %}
                            {% for tab in tabs %}
                                {{ tab.param_save()|safe }}
                            {% endfor %}
                        }
                    }, function(data) {
                        $scope.model = data;
                        toEditMode(false);
                        {% for modal in modals %}
                            {{ modal.set_value()|safe }}
                        {% endfor %}
                        if (afterclbk){
                            afterclbk(data);
                        }
                    }, function (data) {
                        toastr.error(data.data.message, 'Ошибка сохранения!');
                    });
            }

            $scope.save = function() {
                _save();
            };

            function toEditMode(edit) {
                $scope.disabled = !edit;
                $scope.editMode = edit;
            }
        });

        {# Контроллер для отображения таблицы #}
        app.controller("ControllerList", function($scope, $rootScope, breadcrumbs, $location, RES_GETALL, rootUrl) {
            $scope.breadcrumbs = breadcrumbs;
            $scope.model = {};
            $scope.resource = RES_GETALL.meth;

            {% if can_create %}
                $scope.create = function() {
                    $location.path(rootUrl + "/create");
                };
            {% endif %}

            $scope.select = function (selected) {
                $location.path(rootUrl + "/" + selected.id + "/edit");
            };

            {% if can_search %}
                $scope.reload = function(text) {
                    $scope.rel(text);
                };
            {% endif %}
        });
        //CONTROLLERS
        {% for modal in modals_window %}
            {{ modal.render_controller()|safe }}
        {% endfor %}
        //RESOURCES
        {% for modal in modals_window %}
            {{ modal.render_resource()|safe }}
        {% endfor %}

        {% block resources %}

        {% endblock %}

        {% if url_to_print %}
            app.factory("RES_PRINT", function($resource, Base64) {
                return $resource("{{ url_to_print }}", {id: "@id"}, {
                    meth: { method: "GET", isArray: false , headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
                });
            });
        {% endif %}

        app.factory("RES_CREATE", function($resource, Base64) {
          return $resource("{{ url_create }}", {}, {
            meth: { method: "PUT", isArray: false , headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        })

        .factory("RES_GETALL", function($resource, Base64) {
          return $resource("{{ url_getall }}", {}, {
            meth: { method: "GET", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        })

        .factory("RES_GET", function($resource, Base64) {
          return $resource("{{ url_get }}", {id: "@id"}, {
            meth: { method: "GET", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        })

        .factory("RES_UPDATE", function($resource, Base64) {
          return $resource("{{ url_update }}", {id: "@id"}, {
            meth: { method: "POST", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        })

        .factory("RES_DELETE", function($resource, Base64) {
          return $resource("{{ url_delete }}", {id: "@id"}, {
            meth: { method: "DELETE", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        });

        app.config(function($routeProvider, $locationProvider, rootUrl) {
          $routeProvider
                  .when(rootUrl, {
                      templateUrl: 'listModels',
                      controller: 'ControllerList',
                      label: '{{ label_root }}'
                  })
                  .when(rootUrl + "/create", {
                      templateUrl: "createModels",
                      controller: "ControllerCreate",
                      label: "Создание"
                  })
                  .when(rootUrl + '/:id/edit', {
                      templateUrl: "createModels",
                      controller: "ControllerEdit",
                      label: "Редактирование"
                  })

                  .otherwise({
                    redirectTo: rootUrl
                  });

          // configure html5 to get links working on jsfiddle
          $locationProvider.html5Mode(true);
        });

    </script>

{% endblock %}