{% extends 'projectadmin/base_template_cache.html' %}

{% block body %}


<div ng-app="myApp" ng-controller="MainCtrl" ng-cloak>

    <div ng-view>

    </div>
    {# Шаблон для отображения создания/редактирования записи #}
    <script type="text/ng-template" id="createModels">
                    <div class="col-md-6" style="padding: 0px 0px">
                        <div style="margin-left: 15px">
                            {{ form.render()|safe }}
                            <a class="btn btn-danger btn-sm btn-sv" ng-click="save($event)">Сохранить</a>
                        </div>
                    </div>
    </script>

</div>

{% endblock %}

{% block tail %}

    {{ super() }}

    {% assets "ng-table-css" %}
        <link rel="stylesheet" href="{{ ASSET_URL }}" />
    {% endassets %}

    {% assets "ng-table-js" %}
        <script type="text/javascript" src="{{ ASSET_URL }}"></script>
    {% endassets %}

    <script type="text/javascript">
        var app = angular.module('myApp', ['ngRoute', 'ng-breadcrumbs', 'ngTable', 'ngResource', 'angularSpinner', 'AuthModule',
            'ui.bootstrap', 'ui.select', 'ElemsModule', 'FilterApp', 'ModalApp', 'ngSanitize', 'NumberApp']);

        app.constant("rootUrl", '{{ url_view }}');

        app.config(function($interpolateProvider){
            $interpolateProvider.startSymbol('[[').endSymbol(']]');
        });

        app.controller("MainCtrl", function($scope, $route, $location, $routeParams) {
            $scope.$route = $route;
            $scope.$location = $location;
            $scope.$routeParams = $routeParams;
        });

        {# Контроллер для редактирования записи #}
        app.controller("ControllerEdit", function($scope, breadcrumbs, $routeParams, $location, $modal, rootUrl, $route,
                                                  RES_UPDATE, RES_GET) {

            var setError = function(attr, message) {
                if (message) {
                    $scope.errors[attr] = true;
                    $scope.validate[attr] = message;
                } else {
                    $scope.errors[attr] = false;
                    $scope.validate[attr] = message;
                }
            };

            $location.replace().search({});

            $scope.model = {};
            $scope.errors = {};
            $scope.validate = {};
            $scope.items = {};

            {% for field in form.fields %}
                {{ field.initialize_controller()|safe }}
            {% endfor %}

            var last, last_items;

            RES_GET.meth({id: $routeParams.id}, function(data) {
                $scope.model = data;
            });

            toEditMode(true);

            $scope.edit = function() {
                {% block edit %}
                toEditMode(true);
                {% endblock %}
                last_items = angular.copy($scope.items);
                last = angular.copy($scope.model);
            };

            $scope.discard = function() {
                $scope.model = last;
                $scope.items = last_items;
            };

            $scope.create = function() {
                $location.path(rootUrl + "/create");
            };

            function _save(event, afterclbk) {
                {% for fld in form.fields %}
                    {% for val in fld.validators %}
                        {{val.validate_js()|safe}}
                    {% endfor %}
                {% endfor %}

                if (_.indexOf(_.values($scope.errors), true) != -1) {
                    toastr.error(_.filter(_.values($scope.validate), function(item) { if (item == undefined) {return false;} return true;}).join("<br/>"), 'Ошибка валидации!');
                    return;
                }

                var btn = $(event.target);
                btn.button('loading');

                RES_UPDATE.meth({'id': $routeParams.id}, {
                        data: {
                            {% for fld in form.fields %}
                                '{{ fld.get_form_id()|safe }}': {{ fld.get_form_attr()|safe }},
                            {% endfor %}
                            {% for tab in tabs %}
                                {{ tab.param_save()|safe }}
                            {% endfor %}
                        }
                    }, function(data) {
                        $scope.model = data;
                        btn.button('reset');
                        if (afterclbk){
                            afterclbk(data);
                        }
                    }, function (data) {
                        toastr.error(data.data.message, 'Ошибка сохранения!');
                    });
            }

            $scope.save = function(event) {
                _save(event);
            };

            function toEditMode(edit) {
                $scope.disabled = !edit;
                $scope.editMode = edit;
            }
        });


        app.factory("RES_GET", function($resource, Base64) {
          return $resource("{{ url_get }}", {id: "@id"}, {
            meth: { method: "GET", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        })

        .factory("RES_UPDATE", function($resource, Base64) {
          return $resource("{{ url_update }}", {id: "@id"}, {
            meth: { method: "POST", isArray: false, headers: { Authorization: 'Basic ' + Base64.encode(TOKEN + ':' + 'unused') }}
          });
        });

        app.config(function($routeProvider, $locationProvider, rootUrl) {
          $routeProvider
                  .when(rootUrl, {
                      templateUrl: "createModels",
                      controller: "ControllerEdit"
                  })

                  .otherwise({
                    redirectTo: rootUrl
                  });

          // configure html5 to get links working on jsfiddle
          $locationProvider.html5Mode(true);
        });

    </script>

{% endblock %}