<html>
	<head>
		<meta charset="utf-8">
		<title>
		Сайт семьи Евсеевых
		</title>
	</head>
	<style>
		body {
			background: #f06d06;
		}

		.parent {
			position: relative;
			background: white;
			height: 200px;
			width: 60%;
			margin: 0 auto;
		}

		.child {
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	</style>
	<body>

		<div class="parent">
			<div class="child">
				<h3>Приветствую, друг!</h3>
				Ты зашел на сайт семьи Евсеевых.<br>
				Если ты хотел попасть на страницу свадьбы, то <a href="http://wedding.evfam.com/">кликай здесь.</a>
				Если это не то, что ты ищешь - предлагаю поискать <a href="http://www.google.com">здесь.</a>
			</div>
		</div>

	</body>
</html>
