<div class="top-bar">

    <div ui-view="head">


    </div>

</div>
<!-- Main content -->
<div my-auto-padding style="position: relative;">
    <div ui-view="item">

    </div>

</div>



<script type="text/ng-template" id="custom/pager">

    <div class="row">
        <div class="col-sm-5">
            <div class="dataTables_info" id="example1_info" role="status" aria-live="polite">Показано с [[ params.count() * (params.page() - 1) + 1 ]] по [[ params.count() * params.page() ]] из
                [[ params.total() ]] записей
            </div>
        </div>
        <div class="col-sm-7">
            <div class="dataTables_paginate paging_simple_numbers" id="example1_paginate">
                <ul class="pagination ">
                    <!-- ngRepeat: page in pages -->

                    <li ng-class="{'disabled': !page.active}" class="paginate_button" ng-repeat="page in pages"
                        ng-switch="page.type">
                        <a ng-switch-when="prev" ng-click="params.page(page.number)" href="">Предыдущее</a>
                        <a ng-switch-when="first" ng-click="params.page(page.number)" href=""><span
                                ng-bind="page.number"></span></a>
                        <a ng-switch-when="page" ng-click="params.page(page.number)" href=""><span
                                ng-bind="page.number"></span></a>
                        <a ng-switch-when="more" ng-click="params.page(page.number)" href="">&#8230;</a>
                        <a ng-switch-when="last" ng-click="params.page(page.number)" href=""><span
                                ng-bind="page.number"></span></a>
                        <a ng-switch-when="next" ng-click="params.page(page.number)" href="">Следующее</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

</script>
