<div class="content-header">
    <h1>
        Накладные прихода
        <small>SMALL</small>
    </h1>

    <ol class="breadcrumb">
        <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
        <li class="active">Накладные</li>
    </ol>

    <div>
        <div style="margin: 10px 0 10px 0">
            <div class="ng-scope">
                <span ng-hide="editMode" class="">
                    <button class="btn-crt btn btn-danger btn-sm" style="margin-left: 5px" ng-click="create()">Создать</button>
                </span>
            </div>
        </div>
    </div>
</div>