<section class="invoice">
          <!-- title row -->
          <div class="row">
            <div class="col-xs-12">
              <h2 class="page-header">
                <i class="fa fa-globe"></i> [[nameInvoice]]
                <small class="pull-right">Дата: [[ item.date | date:'d MMM y' ]] </small>
              </h2>
            </div><!-- /.col -->
          </div>
          <!-- info row -->
          <div class="row invoice-info">
            <div class="col-sm-4 invoice-col">
              От
              <address>
                <strong>[[ item.pointsale_from ]]</strong><br>
                <br>
                <br>
                Phone: (804) 123-5432<br/>
                Email: info@almasaeedstudio.com
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              К
              <address>
                <strong>[[ item.pointsale ]]</strong><br>
                <br>
                <br>
                Phone: (555) 539-1037<br/>
                Email: john.doe@example.com
              </address>
            </div><!-- /.col -->
            <div class="col-sm-4 invoice-col">
              <b>Invoice #[[ item.number ]]</b><br/>
              <br/>
              <b>Order ID:</b> 4F3S8J<br/>
              <b>Payment Due:</b> 2/22/2014<br/>
              <b>Account:</b> 968-34567
            </div><!-- /.col -->
          </div><!-- /.row -->

          <!-- Table row -->
          <div class="row">
            <div class="col-xs-12 table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>Наименование</th>
                    <th>Кол-во</th>
                    <th>Цена</th>
                    <th>Сумма</th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="row in items">
                    <td>[[ row.good.full_name ]]</td>
                    <td>[[ row.count ]]</td>
                    <td>[[ row.good.price.price_retail ]] руб.</td>
                    <td>[[ row.count * row.good.price.price_retail ]]</td>
                  </tr>
                </tbody>
              </table>
            </div><!-- /.col -->
          </div><!-- /.row -->

          <div class="row">
            <div class="col-xs-6">
              <!--<p class="lead">Payment Methods:</p>
              <img src="../../dist/img/credit/visa.png" alt="Visa"/>
              <img src="../../dist/img/credit/mastercard.png" alt="Mastercard"/>
              <img src="../../dist/img/credit/american-express.png" alt="American Express"/>
              <img src="../../dist/img/credit/paypal2.png" alt="Paypal"/>
              <p class="text-muted well well-sm no-shadow" style="margin-top: 10px;">
                Etsy doostang zoodles disqus groupon greplin oooj voxy zoodles, weebly ning heekya handango imeem plugg dopplr jibjab, movity jajah plickers sifteo edmodo ifttt zimbra.
              </p>-->
            </div>
            <div class="col-xs-6">
              <p class="lead">Сумма</p>
              <div class="table-responsive">
                <table class="table">
                  <tr>
                    <th style="width:50%">Итог:</th>
                    <td>[[ getTotal() ]] р.</td>
                  </tr>
                </table>
              </div>
            </div>
          </div>

          <!-- this row will not appear when printing -->
          <div class="row no-print">
            <div class="col-xs-12">
              <a href="invoice-print.html" target="_blank" class="btn btn-default"><i class="fa fa-print"></i> Печать</a>
              <!--<button class="btn btn-success pull-right"><i class="fa fa-credit-card"></i> Submit Payment</button>-->
              <button class="btn btn-primary pull-right" style="margin-right: 5px;"><i class="fa fa-download"></i> Генерация PDF</button>
            </div>
          </div>
        </section><!-- /.content -->