<div class="content-header">

    <h1>
        Накладные прихода
        <small>SMALL</small>
    </h1>

    <ol class="breadcrumb">
        <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
        <li ><a ui-sref="index.invoice_in.list">Накладные</a></li>
        <li class="active">[[ item.number ]]</li>
    </ol>

    <div class="row" style="margin: 10px 0 10px 0">
            <div class="col-md-6 col-sm-6 col-xs-6 ng-scope">
                <span ng-hide="editMode" class="">
                    <button class="btn-edt btn btn-default btn-sm" ng-click="edit()">Редактировать</button>
                    <button class="btn-crt btn btn-default btn-sm" style="margin-left: 5px" ng-click="create()">Создать</button>

                </span>
                <span ng-hide="!editMode" class="ng-hide">
                    <a class="btn btn-danger btn-sm btn-sv" ng-click="save()">Сохранить</a> или <a class="btn-cl" ng-click="discard()" style="cursor:pointer;">Отменить</a>
                </span>
            </div>
            <div class="btn-group ng-scope col-md-6 col-sm-6 col-xs-6" ng-hide="editMode">
                <button type="button" class="dropdown-toggle btn btn-default btn-sm" data-toggle="dropdown" aria-expanded="false">
                  Больше <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" role="menu">

                    <li><a class="btn-print" href="#" ng-click="print()">Печать</a></li>

                    <li><a class="btn-del" href="#" ng-click="delete()">Удалить</a></li>
                </ul>
            </div>
    </div>
</div>

<header style="background-color: bisque; min-height: 40px; padding: 8px 8px 8px 0px;">
        <div>
            <ul class="pull-right status-bar" style="float:right;">
                <li class="status-item" ng-class="{'active': model.status == 1 || model.status == undefined}" style="  display: inline-block; border: 1px solid #c8c8d3; padding-left: 0px;">
                    <span>Новая</span>
                </li>
                <li class="status-item" ng-class="{'active': model.status == 2}" style="  display: inline-block; border: 1px solid #c8c8d3; padding-left: 0px;">
                    <span>Формирование</span>
                </li>
                <li class="status-item" ng-class="{'active': model.status == 3}" style="  display: inline-block; border: 1px solid #c8c8d3; padding-left: 0px;">
                    <span>Доставка</span>
                </li>
                <li class="status-item active" ng-class="{'active': model.status == 4}" style="  display: inline-block; border: 1px solid #c8c8d3; padding-left: 0px;">
                    <span>Завершено</span>
                </li>
            </ul>
        </div>

    </header>