<span>
    <button class="btn-extra-1" ng-class="{'btn btn-danger btn-sm': !editMode, 'btn-default btn btn-sm': editMode}" ng-show="extra_flds.btn_1_show" ng-click="extra_flds.btn_click(2)">Начать формирование</button>
    <button class="btn-extra-2" ng-class="{'btn btn-danger btn-sm': !editMode, 'btn-default btn btn-sm': editMode}" ng-show="extra_flds.btn_2_show" ng-click="extra_flds.btn_click(3)">Отправить</button>
    <button class="btn-extra-3" ng-class="{'btn btn-danger btn-sm': !editMode, 'btn-default btn btn-sm': editMode}" ng-show="extra_flds.btn_3_show" ng-click="extra_flds.btn_click(4)">Подтвердить отправку</button>
    <button class="btn-extra-3 btn-default btn btn-sm" ng-show="extra_flds.btn_4_show" ng-click="extra_flds.btn_click(1)">Отменить формирование</button>
    <button class="btn-extra-3 btn-default btn btn-sm" ng-show="extra_flds.btn_5_show" ng-click="extra_flds.btn_click(2)">Отменить отправку</button>
</span>
<ul class="pull-right status-bar">
    <li class="status-item" ng-class="{'active': model.status == 1 || model.status == undefined}">
        <span>Новая</span>
    </li>
    <li class="status-item" ng-class="{'active': model.status == 2}">
        <span>Формирование</span>
    </li>
    <li class="status-item" ng-class="{'active': model.status == 3}">
        <span>Отправлено</span>
    </li>
    <li class="status-item" ng-class="{'active': model.status == 4}">
        <span>Завершено</span>
    </li>
</ul>