<div class="dsf" ng-cloak>
    <ui-select-s
           ng-model="modelsss.item"
           theme="bootstrap"
           ng-disabled="disabled"
           reset-search-input="false"
           ng-click="open()" style="width: 100%"
           on-select="select_item()">
        <ui-select-choices-s
                refresh="refresh($select.search)"
                refresh-delay="0"></ui-select-choices-s>
    </ui-select-s>
    <div class="dsf-btns">
        <div class="dsf-btns-item-wr" ng-show="canCreate()">
            <i tooltip="Создать" class="fa fa-pencil dsf-btns-item" ng-click="create()"></i>
        </div>
        <div class="dsf-btns-item-wr" ng-show="modelsss.item && canEdit()">
            <i tooltip="Редактировать" class="fa fa-pencil-square-o dsf-btns-item" ng-click="edit()"></i>
        </div>
        <!--<div class="dsf-btns-item-wr" ng-show="$select.selected">
            <i tooltip="Удалить" class="fa fa-times dsf-btns-item"></i>
        </div>-->
    </div>
</div>