<h1>
    Расходная накладная
    <small></small>
</h1>

<ol class="breadcrumb" ui-view>
    <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
    <li><a ui-sref="index.mailbox.list">Почтовый ящик</a></li>
    <li><a ui-sref="index.mailbox.list.read({mailId:item.id})">[[item.title]]</a> </li>
    <li class="active">Расстановка цен за товар</li>
</ol>

<div class="row" style="margin: 10px 0 10px 0">
    <div class="col-md-6 col-sm-6 col-xs-6 ng-scope">
        <span>
            <button class="btn-sv btn-flat btn btn-primary btn-sm" ng-click="save()">Сохранить</button>
        </span>
        <span>
            <button class="btn-cn btn-flat btn btn-warning btn-sm" ng-click="cancel()">Отмена</button>
        </span>
    </div>
</div>