<div ng-show="isMain" class="mainview-dict-select-field-[[idForm]]">
    <div>
        <div class="span-view" ng-show="disabled">
            <span ng-if="link">
                <a class="redirect-detail" ng-click="redirect(link + selected.id + '/edit')">
                    <h3 id="[[ idForm ]]">[[ selected[attrdisplay] ]]</h3>
                </a>
            </span>
            <span ng-if="!link">
                <h3 id="[[ idForm ]]">[[ selected[attrdisplay] ]]</h3>
            </span>

        </div>
        <div ng-hide="disabled">
            <div>
                <label for="[[ idForm ]]" class="control-label main-attr">[[ label ]]</label>
            </div>
            <div class="col-md-12" style="padding-left: 0px; padding-right: 0px">
                <span ng-show="loading" class="spinner spinner-[[idForm]]-main" style="width: 100%; height: 100%; position: absolute; z-index: 15000; background-color: darkgray; opacity: 0.5;">
                    <span us-spinner="{lines: 13, length: 5, width: 2, radius: 5}"></span>
                </span>
                <i class="dsf-btn-clr fa fa-times btn-extra-dsf"
                   tooltip="Очистить" ng-click="clear()" ng-hide="(!selected || disabled)"></i>
                <span ng-if="canEdit">
                    <i ng-hide="(!selected || disabled)" class="dsf-btn-edt btn-extra-dsf fa fa-pencil-square-o"
                        tooltip="Редактировать" ng-click="edit()"></i>
                </span>
                <span ng-if="canCreate">
                    <i class="dsf-btn-crt btn-extra-dsf fa fa-pencil" tooltip="Создать" ng-click="createNew(true)"
                        ng-hide="disabled"></i>
                </span>
                <div ng-class="{'with-edit': selected && !disabled, 'without-edit': !selected && !disabled, 'empty': disabled}">
                    <ui-select ng-disabled="disabled" id="[[ idForm ]]" ng-model="selected" theme="bootstrap"
                               on-select="someFunction($item, $model)" class="dict-select">
                        <ui-select-match placeholder="[[ placeholder ]]" class="form-control input-sm">
                            [[ $select.selected[attrdisplay] ]]
                        </ui-select-match>
                        <ui-select-choices repeat="item in items" refresh="refresh($select.search)">
                            <div ng-bind-html=" item[attrdisplay] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>

        </div>
    </div>
</div>

<div ng-hide="isMain" class="dict-select-field-[[idForm]]">
    <div class="form-group form-group-my">
        <div class="col-xs-5">
            <label class="control-label" for="sss">[[ label ]]</label>
        </div>
        <div class="col-xs-7">
            <div ng-show="disabled" class="span-view">
                <span ng-if="link">
                    <a class="redirect-detail" ng-click="redirect(link + selected.id + '/edit')">
                        <span id="[[ idForm ]]">
                            [[ selected[attrdisplay] ]]
                        </span>
                    </a>
                </span>
                <span ng-if="!link">
                    <span id="[[ idForm ]]">
                        [[ selected[attrdisplay] ]]
                    </span>&nbsp;
                </span>

            </div>
            <div ng-hide="disabled" class="col-md-12" style="padding-left: 0px; padding-right: 0px">
                <span ng-show="loading" class="spinner spinner-[[idForm]]" style="width: 100%; height: 100%; position: absolute; z-index: 15000; background-color: darkgray; opacity: 0.5;">
                    <span us-spinner="{lines: 13, length: 5, width: 2, radius: 5}"></span>
                </span>
                <i class="dsf-btn-clr fa fa-times btn-extra-dsf"
                   tooltip="Очистить" ng-click="clear()" ng-hide="(!selected || disabled)"></i>
                <span ng-if="canEdit">
                    <i ng-hide="(!selected || disabled)" class="dsf-btn-edt btn-extra-dsf fa fa-pencil-square-o"
                       tooltip="Редактировать" ng-click="edit()"></i>
                </span>
                <span ng-if="canCreate">
                    <i class="dsf-btn-crt btn-extra-dsf fa fa-pencil" tooltip="Создать"
                       ng-click="createNew(true)" ng-hide="disabled"></i>
                </span>
                <div ng-class="{'with-edit': selected && !disabled, 'without-edit': !selected && !disabled, 'empty': disabled}">
                    <ui-select ng-disabled="disabled" id="[[ idForm ]]" ng-model="selected" theme="bootstrap"
                               on-select="someFunction($item, $model)" class="dict-select">
                        <ui-select-match placeholder="[[ placeholder ]]" class="form-control input-sm">
                            [[ $select.selected[attrdisplay] ]]
                        </ui-select-match>
                        <ui-select-choices repeat="item in items" refresh="refresh($select.search)">
                            <div ng-bind-html=" item[attrdisplay] | highlight: $select.search"></div>
                        </ui-select-choices>
                    </ui-select>
                </div>
            </div>
        </div>
    </div>
</div>
