<h1>
    Почтовый ящик
    <small ng-if="countNew()">[[ countNew() ]] новых сообщений</small>
</h1>
<ol class="breadcrumb">
    <li><a ui-sref="index.dash"><i class="fa fa-dashboard"></i> Дом</a></li>
    <li class="active">Почтовый ящик</li>
</ol>

<div class="btn-custom-group">
    <div class="row">
        <div>
            <div class="col-md-3 ng-scope">
                <button ng-click="checkMail($event)" class="btn btn-flat btn-primary btn-block margin-bottom">Проверить почту</button>
            </div>
        </div>
    </div>
</div>
