<section class="invoice">
    <form name="myForm.item">

        <div class="row invoice-info">
            <div class="col-sm-5 invoice-col">

                <div class="form-group">
                    <label>Дата приемки</label>

                    <div class="input-group">

                        <div ng-click="config_datepicker.open($event, fTableEditEnabled)" class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>

                        <input type="text" class="form-control"
                               datepicker-popup="yyyy-MM-dd"
                               name="date"
                               ng-model="model.date"
                               is-open="config_datepicker.status.opened"
                               min-date="config_datepicker.minDate"
                               max-date="'2020-06-22'"
                               datepicker-options="config_datepicker.dateOptions"
                               date-disabled="config_datepicker.disabled(date, mode)"
                               ng-required="true"
                               ng-disabled="tableEditEnabled"
                               close-text="Закрыть" />
                    </div>
                </div>
            </div>
            <!-- /.col -->
            <div class="col-sm-5 invoice-col">

                <div class="form-group">
                    <label for="typeRec">Тип приемки</label>

                    <div id="typeRec">
                        <label>
                            <input ng-disabled="tableEditEnabled" type="radio" ng-model="model.type" value="1" name="r3" />
                            Регулярные накладные
                        </label><br/>
                        <label>
                            <input ng-disabled="tableEditEnabled" type="radio" ng-model="model.type" value="2" name="r3" />
                            Приемка без накладной
                        </label>
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>

        <div class="row invoice-info">

            <div class="col-sm-5 invoice-col">
                <div class="form-group" ng-class="{'has-error':  Form.isSubmitted() && myForm.item.pointsale.$error.required}">
                    <label for="exampleInputPassword1">Точка приемки</label>

                    <dict-select-field
                            ng-model="model.pointsale"
                            service="PointService"
                            lazy="true"
                            select="model.pointsale_id"
                            style="width: 100%"
                            dng-required="true"
                            dname="pointsale"
                            dng-disabled="tableEditEnabled"
                            >
                        <dict-select-field-match placeholder="Введите название...">[[$select.selected.name]]</dict-select-field-match>
                        <dict-select-field-choices repeat="item in $items | propsFilter: {name: $select.search}">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </dict-select-field-choices>
                    </dict-select-field>

                </div>
                <address>
                    Адрес: [[model.pointsale.address]]
                </address>
            </div>

            <div ng-show="model.type == 1" class="col-sm-5 invoice-col">
                <div class="form-group" ng-class="{'has-error':  Form.isSubmitted() && myForm.item.invoices.$error.required}">
                    <label for="exampleInputPassword1">Накладные</label>
                    <dict-select-field
                            multiple="true"
                            ng-model="model.invoices"
                            service="InvoiceService"
                            lazy="true"
                            dname="invoices"
                            style="width: 100%"
                            can-edit="false"
                            dng-disabled="tableEditEnabled"
                            dng-required='model.type == 1'
                            can-create="false">
                        <dict-select-field-match placeholder="Введите имя...">
                                <div ng-bind="$item.fullname"></div>
                        </dict-select-field-match>
                        <dict-select-field-choices repeat="item in $items">
                            <div ng-bind-html="item.fullname | highlight: $select.search"></div>
                        </dict-select-field-choices>
                    </dict-select-field>
                </div>
            </div>

            <div ng-show="model.type == 2" class="col-sm-5 invoice-col">
                <div class="form-group" ng-class="{'has-error':  Form.isSubmitted() && myForm.item.provider.$error.required}">
                    <label for="exampleInputPassword1">Поставщик</label>

                    <dict-select-field
                            ng-model="model.provider"
                            service="ProviderService"
                            lazy="true"
                            select="model.provider_id"
                            style="width: 100%"
                            dng-required='model.type == 2'
                            dname="provider"
                            dng-disabled="editForm"
                            >
                        <dict-select-field-match placeholder="Введите название...">[[$select.selected.name]]</dict-select-field-match>
                        <dict-select-field-choices repeat="item in $items | propsFilter: {name: $select.search}">
                            <div ng-bind-html="item.name | highlight: $select.search"></div>
                        </dict-select-field-choices>
                    </dict-select-field>

                </div>
                <address>
                    Адрес: [[model.receiver.address]]
                </address>
            </div>
        </div>
    </form>

    <script type="text/ng-template" id="myTooltipTemplate.html">
      <span>Special Tooltip with <strong>markup</strong> and [[ id ]]</span>
    </script>

    <div class="table-responsive" ng-hide="model.status == 1">
        <table class="table table-striped table-local">
            <thead>
            <tr>
                <th>Товар</th>
                <th>Кол-во</th>
                <th>Кол-во(факт.)</th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="row in model.items">
                <td>
                    <a ui-sref="index.good.view({id: row.good.id})"
                       qtip
                       data-classes="qtip-light"
                       ng-init="dynamicContent = dynamicContent(row.good.id)"
                       data-hide-fixed
                       data-hide-delay="300">[[ row.good.full_name ]]</a>
                </td>
                <td>[[row.count]]</td>
                <td>
                    <input ng-model="row.fact_count" />
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</section>